*{
margin: 10;
padding: 0;
box-sizing: border-box;

}

.quadrados{
    width: 100vw;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.quadrados div{

    width: 100px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.circulos{

    width: 100%;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    
}

.circulos div {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;

}
